- if @function.errors.any?
  #error_explanation
  .alert.alert-error
    The form contains #{pluralize(@function.errors.count, "error")}.
  %ul
    - @function.errors.full_messages.each do |msg|
      %li
        * #{msg}
