#headernavbar.header.navbar.fixed-top
  .headerwrap.navbar-wrap
    .wrap.wrapper.pt5.flush
      #left_header.left
        = link_to "PixelsDoc", root_url, class: "mt5", style: "font-size: 25px; color: #FFF; display: inline-block;"
      #right_header.right
        - if user_signed_in?
          =link_to '/admin' do
            %span{style: "color: white;"}= current_user.email
            = gravatar_for current_user, size: 30
        - else
          = link_to "Sign In", user_session_path, class: "btn small"
